/* Importación de módulos CSS */

@import "./base.css";
@import "./variables.css";
@import "./animations.css";
@import "./components.css";
@import "./swiper.css";

/* Importaciones adicionales pueden ser agregadas aquí */ 

[data-e2e="video-v2-Card-CardBanner"] {
    background-color: #ffece3 !important;
}